<h2>{{ tableTitle }}</h2>
<mat-form-field appearance="outline">
  <mat-label>Filter</mat-label>
  <input [formControl]="filterText" matInput placeholder="Filter items" />
</mat-form-field>
<table
  *ngIf="filteredItems$ | async as filteredItems"
  mat-table
  class="width-100"
  [dataSource]="filteredItems"
>
  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef class="padding-right-3">Rank</th>
    <td mat-cell *matCellDef="let element" class="padding-right-3">
      {{ element.rank }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="padding-right-3">Name</th>
    <td mat-cell *matCellDef="let element" class="padding-right-3">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef>{{ countColumnLabel }}</th>
    <td mat-cell *matCellDef="let element">{{ element.count }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
