<h2>{{ tableTitle }}</h2>
<mat-form-field appearance="outline">
  <mat-label>Filter</mat-label>
  <input [formControl]="filterText" matInput placeholder="Filter items" />
</mat-form-field>
<mat-list
  class="width-100"
  style="flex: 1"
  *ngIf="filteredItems$ | async as filteredItems"
>
  <div class="flex-row width-100">
    <span class="margin-right-2">Rank</span>
    <span class="margin-right-2">Name</span>
    <span class="margin-left-auto">{{ countColumnLabel }}</span>
  </div>
  <cdk-virtual-scroll-viewport class="height-100" itemSize="48">
    <mat-list-item
      *cdkVirtualFor="let item of filteredItems; let index = index"
      [ngClass]="{ 'background-gray': index % 2 === 0 }"
      ><div class="flex-row width-100 align-items-center">
        <span class="margin-right-2">#{{ item.rank }}</span>
        <span class="margin-right-2">{{ item.name }}</span>
        <span class="margin-left-auto">{{ item.count }}</span>
      </div>
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-list>
