<main class="padding-4 width-100">
  <h1 class="text-align-center">Wikipedia Rankings</h1>
  <div
    class="flex-row justify-content-space-between width-100"
    [style]="{ height: '750px' }"
  >
    <app-ranked-table
      *ngIf="contributorList$ | async as contributorList"
      class="margin-right-4"
      tableTitle="Top Contributors"
      countColumnLabel="Contribution Count"
      [items]="contributorList"
      [style]="{ width: '45%' }"
    ></app-ranked-table>
    <app-ranked-table
      *ngIf="editedItemsList$ | async as editedItemsList"
      tableTitle="Most Edited Pages"
      countColumnLabel="Edit Count"
      [items]="editedItemsList"
      [style]="{ width: '45%' }"
    ></app-ranked-table>
  </div>
</main>
